.panel.admin{
	padding: 60px;
	/* padding-bottom: 100px; */
	/* padding-left: 100px; */
	margin-top: 200px;
	margin-bottom: 100px;
	border: 1px solid #CCC;
}

body{
	/*background: url('../img/wallpaper.jpg');*/
    background-size: 100% 100%;
    background-attachment: fixed;
}