@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400');

.navbar-color {
    background-color: #fff;
}

.tab-content.scroll{
	max-height: 365px;
    overflow-y: scroll;
    padding: 3px;
}

label.error{
color: red;
font-weight: 100;
font-size: 12px;
}

select.error, input.error, textarea.error{
background: rgba(255, 0, 0, 0.07);
border: 1px solid red;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
background-color: #ee4b28;
border-color: #ed431f;
}

p{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header .header-content .header-content-inner p {
	color: #fff;
}

.photo_polaroid_profile{
max-width: 100%;
max-width: 100%;
/* padding: 10px; */
border-radius: 50%;
border: 3px solid #fff;
position: absolute;
}

.photo_name{
color: #000;
padding-top: 23px;
padding-left: 0px;
margin-bottom: 14px;
}

.photo_name span{
color: #000;
font-family: "Gloria Hallelujah";
white-space: nowrap;
}

.pin{
    position: relative;
    width: 21px;
    z-index: 2;
    display: block;
    margin: -67px auto auto auto;
    top: 24px;

}

.politician.expand > .pin{
	display: none;
}

.politician.expand>.profile>.header{
	background: #f05f40;
	color: #fff;
	padding: 16pt 0 10pt 16pt;
	border-radius: 7px 7px 0 0;
}

.politician.expand>.profile>.header .dato{
	font-size: 18pt;
    font-weight: 300;
}

.politician.expand>.profile>.header .name{
	font-size: 28pt;
    font-weight: 500;
}

.politician.expand>.profile>.info{
	padding-left: 16px;
    padding-right: 16px;
    color: #5a5a5a;
}

.politician.expand>.profile>.info ul{
    font-size: 20px;
}

.politician.expand>.profile>.info ul>li{
    padding-bottom: 4pt;
}

.politician.expand>.profile>.info ul>li>span.date{
	font-weight: 700;
	font-size: 12pt;
}

.politician.expand>.profile>.info h4{
	color: #5a5a5a;
	margin-bottom: 22pt;
}

.politician.expand>.profile>.info h4>span{
	background: #f05f40;
}
.politician.expand>.profile>.info h4>span:before{
	font-family: FontAwesome;
	font-style: inherit;
	font-weight: 100;
	color: #feffff;
	font-size: 11pt;
	padding: 11px;
	background: #f05f40;
	border-radius: 7px;
}

.politician.expand>.profile>.info h4>span.cita:before{
	content: "\f10e";
}

.politician.expand>.profile>.info h4>span.evento:before{
	content: "\f073";
}




.politician.expand>.profile>.partido{
	padding: 16pt 0 31pt 16pt;
	color: #5a5a5a;
}

.ml-16{
	margin-left: 16px;
}

.pl-16{
	padding-left: 16pt !important;
}

.photo_polaroid{
width: 176px;
height: 176px;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
filter: grayscale(100%);
-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease;
}

.politician{
width: 200px;
float: left;
margin: 28px;
cursor: pointer;
background: white;
padding: 13px;
padding-bottom: 0px;
margin-top: 45px;
box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease;
}


.politician:hover .photo_polaroid{
-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}
.politician .frame{
width: 176px;
height: 176px;
overflow : hidden;
float: left;

}

.politician:hover .photo_polaroid{
/*transform: scale(1.2,1.2);    */
}

.politician:nth-child(odd){
ms-transform: rotate(3deg); /* IE 9 */
-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
transform: rotate(3deg);
}
.politician:nth-child(even) .pin{
transform: scaleX(-1);
}

.politician:nth-child(even){
ms-transform: rotate(-3deg); /* IE 9 */
-webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
transform: rotate(-3deg);
}

.politician.expand{
width : 100%;
ms-transform: rotate(0deg); /* IE 9 */
-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
transform: rotate(0deg);
padding-bottom: 15px;
background: #eaeaea;
border-radius: 0 0 7px 7px;
padding-top: 0;
margin: 0;
cursor: default;
}

.politician.expand .photo_polaroid{
-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}

.politician.expand > .frame{
display: none;
}

.politician.expand > .photo_name {
display: none;
}

.politician.expand > .profile {
display: inline;
}

.politician > .profile {
display: none;
font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.politician > .profile  .quote {
font-style: italic;
}

.politician > .profile  ul {
list-style-type : none;
padding: 0px;
}

.politician.expand > .close-politician{
display: inline-block;
}

.politician > .close-politician{
display: none;
float: right;
margin-top: -9px;
margin-right: -22px;
cursor: pointer;
color: #fff;
border: none;
border-radius: 30px;
background: #c31818;
font-size: 17px;
font-weight: bold;
line-height: 0px;
padding: 10px 5px
}

.politician > .close-politician:before {
content: "×";
}

.politician.winner{
margin: auto;
margin-top: 5px;
float: none;
}

.politician.winner .photo_polaroid{
-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}

.politician.winners{
margin: auto;
margin-top: 5px;
float: none;
transform: none;
ms-transform: none;
-webkit-transform: none;
}

.politician.winners .photo_polaroid{
-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
filter: grayscale(0%);
}



.titles{
margin-bottom: 25px;
}

.terminar{
margin-top: 45px;
}
.question{
min-height: 155px;
}
.wizard {
margin: 20px auto;
background: #fff;
}

.wizard .nav-tabs {
position: relative;
margin: 40px auto;
margin-bottom: 0;
border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
position: relative;
}

.connecting-line {
height: 2px;
background: #e0e0e0;
position: absolute;
width: 80%;
margin: 0 auto;
left: 0;
right: 0;
top: 50%;
z-index: 1;
}

.wizard .nav-tabs > li.active{
z-index: 2;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
color: #555555;
cursor: default;
border: 0;
border-bottom-color: transparent;
}

span.round-tab {
width: 70px;
height: 70px;
line-height: 70px;
display: inline-block;
border-radius: 100px;
background: #fff;
border: 2px solid #e0e0e0;
z-index: 2;
position: absolute;
left: 0;
text-align: center;
font-size: 25px;
}
span.round-tab i{
color:#555555;
}
.wizard li.active span.round-tab {
background: #fff;
border: 2px solid #f05f40;

}
.wizard li.active span.round-tab i{
color: #f05f40;
}

span.round-tab:hover {
color: #333;
border: 2px solid #333;
}

.wizard .nav-tabs > li {
width: 12.5%;
z-index: 1;
}

.wizard li:after {
content: " ";
position: absolute;
left: 46%;
opacity: 0;
margin: 0 auto;
bottom: 0px;
border: 5px solid transparent;
border-bottom-color: #f05f40;
transition: 0.1s ease-in-out;
}

.wizard li.active:after {
content: " ";
position: absolute;
left: 46%;
opacity: 1;
margin: 0 auto;
bottom: 0px;
border: 10px solid transparent;
border-bottom-color: #f05f40;
}

.wizard .nav-tabs > li a {
width: 70px;
height: 70px;
margin: 20px auto;
border-radius: 100%;
padding: 0;
}

.wizard .nav-tabs > li a:hover {
background: transparent;
}

.wizard .tab-pane {
position: relative;
padding-top: 50px;
}

.wizard h3 {
margin-top: 0;
}
.step1 .row {
margin-bottom:10px;
}
.step_21 {
border :1px solid #eee;
border-radius:5px;
padding:10px;
}
.step33 {
border:1px solid #ccc;
border-radius:5px;
padding-left:10px;
margin-bottom:10px;
}
.dropselectsec {
width: 68%;
padding: 6px 5px;
border: 1px solid #ccc;
border-radius: 3px;
color: #333;
margin-left: 10px;
outline: none;
font-weight: normal;
}
.dropselectsec1 {
width: 74%;
padding: 6px 5px;
border: 1px solid #ccc;
border-radius: 3px;
color: #333;
margin-left: 10px;
outline: none;
font-weight: normal;
}
.mar_ned {
margin-bottom:10px;
}
.wdth {
width:25%;
}
.birthdrop {
padding: 6px 5px;
border: 1px solid #ccc;
border-radius: 3px;
color: #333;
margin-left: 10px;
width: 16%;
outline: 0;
font-weight: normal;
}


/* according menu */
#accordion-container {
font-size:13px
}
.accordion-header {
font-size:13px;
background:#ebebeb;
margin:5px 0 0;
padding:7px 20px;
cursor:pointer;
color:#fff;
font-weight:400;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px
}
.unselect_img{
width:18px;
-webkit-user-select: none;  
-moz-user-select: none;     
-ms-user-select: none;      
user-select: none; 
}
.active-header {
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
background:#F53B27;
}
.active-header:after {
content:"\f068";
font-family:'FontAwesome';
float:right;
margin:5px;
font-weight:400
}
.inactive-header {
background:#333;
}
.inactive-header:after {
content:"\f067";
font-family:'FontAwesome';
float:right;
margin:4px 5px;
font-weight:400
}
.accordion-content {
display:none;
padding:20px;
background:#fff;
border:1px solid #ccc;
border-top:0;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px
}
.accordion-content a{
text-decoration:none;
color:#333;
}
.accordion-content td{
border-bottom:1px solid #dcdcdc;
}



@media( max-width : 585px ) {

.wizard {
width: 90%;
height: auto !important;
}

span.round-tab {
font-size: 16px;
width: 50px;
height: 50px;
line-height: 50px;
}

.wizard .nav-tabs > li a {
width: 50px;
height: 50px;
line-height: 50px;
}

.wizard li.active:after {
content: " ";
position: absolute;
left: 35%;
}
}

ul.respuestas-lista{
	list-style-type: none;
	text-align: left;
	margin: 0;
    padding: 0;
}

ul.respuestas-lista>li.si{
	color: #F05F40;;
}

ul.respuestas-lista>li.no{
}

ul.respuestas-lista>li {
    margin: 3pt;
}

.no-margin{
	margin: 0;
	padding: 0;
}

.photo_name.winners{
	position: absolute;
    bottom: 0px;
    background: rgba(240, 95, 64, 0.61);
    padding: 10px;
    margin: 0px;
    color: #fff;
}

.photo_name.winners>span{
    color: #fff;
}

.photo_winners{
	width: 100%;
	height:100%;
}

.padding-40{
	padding: 28pt;
}
.panel.panel-default.panel-result{
	border-color: #ddd;
    /*border: 0;
    border-bottom: 1px solid #f05f40;*/
}
.navbar-default.navbar-color .navbar-header .navbar-brand{
	color: #F05F40;
}
.btn-default{
	background: #ddd;
}

@media( max-width : 769px ) {

	.photo_polaroid_profile{
		position: relative;
	}

	.politician.expand>.profile>.header{
		padding: 11pt;
		text-align: center;
	}

	.politician>.frame{
		width: 100%;
		height:100%;
	}

	.politician{
		width: 100%;
		ms-transform: rotate(0deg) !important;
		-webkit-transform: rotate(0deg) !important; 
		transform: rotate(0deg) !important; 
		margin: 57px 0 0 0;
	}

	.photo_polaroid{
		width: 100%;
		height:100%;
	}
}

.profile{
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

.left-profile{
	background: url('../img/profile_background.png');
	background-size: 100%;
	    padding-bottom: 10px;
}
.right-profile{
}



.right-profile .blockquote{
	float: left;
	margin: 6px 16px -15px 12px;
}

.right-profile .blockquote h5{
	font-size: 18px;
	font-weight: 300;
	color: #696969;
	font-family: 'Fira Sans Extra Condensed', sans-serif !important;
	text-align: left;
}

.right-profile .blockquote h5 span{
	font-weight: 700;
	color: #c14b33;
}

.right-profile .blockquote a:hover{
	text-decoration: none;
}

.right-profile .blockquote a:hover h5 {
    color: #000000;
}

.right-profile .nav-tabs{
	background: url('../img/profile_background.png');
}

.right-profile .nav-tabs>li>a{
	font-size: 17px;
	font-weight: 100;
	color: #FFF;
	font-family: 'Fira Sans Extra Condensed', sans-serif !important;
}

.right-profile .nav>li>a:focus, .right-profile .nav>li>a:hover, .right-profile .nav>li>a:hover, .right-profile .nav>li>a:active , .right-profile .nav>li>a:visited {
    text-decoration: none;
    background-color: rgba(197, 46, 13, 0.41);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0;
}

.right-profile .nav-tabs>li.active>a, .right-profile  .nav-tabs>li.active>a:focus, .right-profile  .nav-tabs>li.active>a:hover  , .right-profile .nav-tabs>li.active>a:active  , .right-profile .nav-tabs>li.active>a:visited{
      color: #fff;	
    cursor: default;
    background-color: rgba(0, 0, 0, 0.32);
    border: 1px solid rgba(0,0,0,0);
    border-bottom-color: transparent;
}

.right-profile .nav-tabs>li{
    border: 1px solid rgba(0,0,0,0);
        width: 50%;
}

 .right-profile .nav-tabs>li.active>a{
    border: 1px solid rgba(0,0,0,0);
 }
.profile .left-profile h2{
	font-family: 'Fira Sans Extra Condensed', sans-serif !important;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
}
.profile .left-profile h3{
	font-family: 'Fira Sans Extra Condensed', sans-serif !important;
	color: #FFF;
	margin-top: 0px;
}

.profile img.img_profile{
	border-radius: 50%;
	width: 150px;
	margin-top: 50px;
	border: 5px solid #FFF;
}

.profile .left-profile .description{
	    margin-top: 30px;
	    margin-bottom: 40px;
}

.profile .left-profile .description p{
	  font-weight: 400;
	  font-size: 15px;
	  color: #FFF;
	  font-family: 'Fira Sans Extra Condensed', sans-serif !important;
}

@media screen and (min-width: 1091px) {
   	.profile .col-md-4{
		padding-right: 0;
   	}
   	.profile .col-md-8{
		padding-left: 0;
   	}
}

